// Extend
.font {
    font-family: 'opensans';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}
.center {
    display: flex;
    justify-content: center;
}
// Mixin
$tablet-width: 600px;
@mixin tablet {
     @media (min-width: $tablet-width){
        @content;
    }
}
$desktop-width: 1000px;
@mixin desktop {
     @media (min-width: $desktop-width){
        @content;
    }
}
