/* ***News Articles*** */
.newsarticles ul {
    padding: 0;
    display: none;
}
.article {
    background: url(" images/doge.jpg") no-repeat center center;
    height: auto;
    width: 100%;
}
.newsarticles a {
    text-decoration: none;
    color: #FFFFFF;
}
