// Loading gif
.loader-gif {
    display: flex;
    justify-content: center;
}
.loading {
    display: none;
    height: 50px;
    margin: 0 auto;
}
/* ***News Articles*** */
.news-articles {
    padding: 0;
    margin-bottom: 30px;
    a {
        text-decoration: none;
        color: #FFFFFF;
        text-align: left;
        @extend .font;
        line-height: 1.5rem;
    }
    p {
        font-size: 0.8rem;
        font-family: 'opensans';
        font-style: italic;
        font-weight: normal;
        text-align: center;
        @include tablet {
            font-size: 0.9rem;
        }
        @include desktop {
            font-size: 1rem;
        }
    }
    @include tablet {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}
.all-articles {
    height: 420px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-position: center center;
    background-size: cover;
    @extend .center;
    @include tablet {
        flex: 0 1 33.33%;
        max-width: 33.33%;
    }
    @include desktop {
        flex: 0 1 25%;
        max-width: 25%;
    }
}
.text {
    width: 100%;
    @extend .center;
    background: rgba(0,0,0,.65);
    padding: 0.5rem;
}
