/* ***header*** */
.head-small {
    @extend .center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 0;
    font-size: 0.8rem;
    margin: 30px 0 40px;
    p {
        padding: 10px 0;
        @include tablet {
            font-size: 0.9rem;
        }
    }
    @include tablet {
        flex-direction: row;
        margin: 20px 40px 20px 0;
    }
    @include desktop {
        justify-content: flex-start;
        font-size: 1rem;
        padding-left: 30px;
    }
}
.head-large {
    height: 85vh;
    align-items: center;
    flex-direction: column;
    font-size: 0.8rem;
    text-align: center;
    padding: 0;
    p {
        padding: 15px 0;
        @include tablet {
            padding: 10px 0;
        }
    }
    @include tablet {
        flex-direction: row;
        text-align: left;
        font-size: 0.9rem;
    }
    @include desktop {
        justify-content: flex-start;
        font-size: 1rem;
        padding-left: 30px;
    }
}
.logo-small {
    height: 150px;
    max-width: 100%;
    @include tablet {
        height: 70px;
    }
}
.logo-large {
    height: auto;
    max-width: 100%;
}
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
  color: #000;
}
.dropdown {
    @include tablet {
        padding-left: 50px;
    }
    @include desktop {
        padding-left: 80px;
    }
}
